.radio {
  :global {
    .radio-group-wrapper {
      display: flex;
      flex-direction: column;
      width: fit-content;
      color: var(--color-black_color);
      position: relative;
      gap: 12px;
    }

    ion-radio::part(label) {
      margin-inline-start: 12px !important;
      justify-content: flex-start !important;
      font-size: 12px;
    }

    ion-radio.radio-checked::part(mark) {
      background-color: var(--color-primary_color) !important;
    }

    ion-radio::part(mark) {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: transparent !important;
      border: none;
      transform: none;
    }

    ion-radio::part(container) {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      border: 1px solid var(--color-primary_color);
    }
  }
}
