VITE_COMPANY_NAME="Arev Food"

# FIREBASE
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""
VITE_FIREBASE_MEASUREMENT_ID=""

# AI TOOLS
VITE_AI_TOOLS_BASE_URL=""

# UI
NEXT_PUBLIC_PRIMARY_COLOR=""
NEXT_PUBLIC_SECONDARY_COLOR=""
NEXT_PUBLIC_ACCENT_COLOR_1=""
NEXT_PUBLIC_ACCENT_COLOR_2=""
NEXT_PUBLIC_BLACK_COLOR=""
NEXT_PUBLIC_WHITE_COLOR=""
NEXT_PUBLIC_BACKGROUND_COLOR_1=""
NEXT_PUBLIC_BACKGROUND_COLOR_2="" 
NEXT_PUBLIC_THEME=""