VITE_COMPANY_NAME="Arev Food"

# FIREBASE
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""
VITE_FIREBASE_MEASUREMENT_ID=""

# UI
NEXT_PUBLIC_PRIMARY_COLOR="#FF6223"Å
NEXT_PUBLIC_SECONDARY_COLOR="#F9B83F"
NEXT_PUBLIC_ACCENT_COLOR_1="#239F00"
NEXT_PUBLIC_ACCENT_COLOR_2="#FFF9F1"
NEXT_PUBLIC_BLACK_COLOR="#212121"
NEXT_PUBLIC_WHITE_COLOR="#FFFFFF"
NEXT_PUBLIC_THEME=""