@media screen and (min-width: 1280px) {
  :root {
    --ion-background-color: #fff !important;
  }
  html,
  body {
    max-width: 500px;
    margin: 0 auto;
    overflow-x: hidden;
  }
}

h1,
h2,
h3 {
  font-family: "Baloo Da 2";
}

h4,
h5,
h6,
p {
  font-family: "Roboto";
}
