ion-datetime-button.custom-input-date {
  width: 100%;
  background: white;
  padding: 0.75rem 1rem;
  border-radius: 9999px;
  display: flex;
  justify-content: start;
}

ion-datetime-button.custom-input-date::part(native) {
  width: 100%;
  text-align: start;
  background: white;
  color: var(--color-black_color);
  font-weight: 700;
  font-family: var(--font-heading);
  padding: 0;
}