
@theme {
  --color-primary_color: #FF6223;
  --color-second_color: #F9B83F;
  --color-accent_color_1: #239F00;
  --color-accent_color_2: #FFF9F1;
  --color-black_color: #212121;
  --color-white_color: #FFFFFF;

  --font-heading: "Baloo Da 2";
  --font-paragraph: "Roboto"
  }
