@theme {
  --color-primary_color: #ff6223;
  --color-second_color: #f9b83f;
  --color-accent_color_1: #239f00;
  --color-accent_color_2: #fff9f1;
  --color-black_color: #212121;
  --color-white_color: #ffffff;
  --color-bg_color_1: #f2f3f5;
  --color-bg_color_2: #fef8ec;

  --font-heading: 'Baloo Da 2';
  --font-paragraph: 'Roboto';
}
